.Weather {
  margin-top: 10px;
  width: 300px;
  height: 400px;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-self: center;
  position: relative;
  transition: 0.5s;

}

.searching {
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 65%;
  height: 40px;
  align-self: center;
  border: 0.2rem outset lightgray;
}

.icon {
  width: 100px;
}

#map {
  width: 1000px;
  height: 1000px;
}

.App {
  display: flex;
  flex-direction: row;
}

.case_1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.case_2 {
  display: flex;
  align-self: center;
  flex-direction: row;
  align-items: center;
}

.temp {
  font-weight: bolder;
  font-size: xx-large;
}

.case_3 {
  font-size: large;
  font-weight: 400;
}

.case_BG {
  position: absolute;
  background-size: cover 300px;
  width: 100%;
  height: 100%;
  z-index: -10;
  border-radius: 5%;
  filter: blur(1px);
}

.windIMG {
  color: white;
  width: 50px;
}

.wind {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Calendar{
  width: 100%;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}
.dates{
  color: white;
  display: flex;
  flex-direction: column;
  transition: 0.35s;
  margin-top: 10px;
  width: 15%;
  height: 25%;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  border: 1px solid grey;
  border-radius: 5%;
}
.dates:hover{
  background: grey;
  color: grey;
}
.specicon{ 
  width: 100px;
  align-self: center;
}
.wApp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.searchbutton{
  transition: 0.2s;
  border-radius: 5px;
  border: none;
  outline: none;
}
.searchbutton:hover{
  background: grey;
  color: white;
}