body{
  background-color: rgba(211, 211, 211, 0.534);
}
.Weather {
  margin-top: 10px;
  width: 300px;
  height: 400px;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-self: center;
  position: relative;
  transition: 1s;

}

.searching {
  box-shadow: 2px 2px 2px lightgrey;
  padding-left: 10px;
  border: none;
  outline: none;
  width: 65%;
  height: 40px;
  align-self: center;
}

.icon {
  width: 100px;
}

#map {
  width: 1000px;
  height: 1000px;
}

.App {
  display: flex;
  flex-direction: row;
}

.case_1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.case_2 {
  display: flex;
  align-self: center;
  flex-direction: row;
  align-items: center;
}

.temp {
  font-weight: bolder;
  font-size: xx-large;
}

.case_3 {
  font-size: large;
  font-weight: 400;
}

.case_BG {
  position: absolute;
  background-size: cover 300px;
  width: 100%;
  height: 100%;
  z-index: -10;
  /* filter: blur(1px); */
}

.windIMG {
  color: white;
  width: 50px;
}

.wind {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Calendar{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dates{
  color: white;
  display: flex;
  flex-direction: column;
  transition: 0.35s;
  margin-top: 10px;
  width: 20%;
  height: auto;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  /* border-radius: 5%; */
}
.dates:hover{
  background: grey;
  color: grey;
}
.specicon{ 
  width: 100px;
  align-self: center;
}
.wApp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.searchbutton{
  transition: 0.2s;
  border-radius: 5px;
  border: none;
  outline: none;
}
.searchbutton:hover{
  background: grey;
  color: white;
}
.map_and_weather{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Statistics{
  transition: 0.5s;
  margin-left: 10px ;
  display: flex;
  width: auto;
  align-items: center;
  height: 400px;
  flex-direction: row;
  background-color: white;
  justify-content: space-evenly;
}
.stats{
  align-items: center;
  margin-right: 5px;
  background-color: white;
  width: auto;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: x-large;
}
.stats:hover{
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px lightgray;
  border-radius: 0%;
}